
go to editor exe https://www.capcut.com/editor/865E608D-81DE-4510-9B14-5D0146C8443D?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=3883838h3h
and get cookies by editThiskookie extontion 