{
  "tabSwitching": {
    "enabled": true,
    "intervalSeconds": 31
  },
  "editors": [
    {
      "url": "https://www.capcut.com/editor/865E608D-81DE-4510-9B14-5D0146C8443D?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-09-04T02:24:04.359Z",
      "result": "j",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/13EE331C-27AB-4BB2-8E1A-B821337EC80B?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-08-26T23:54:23.284Z",
      "result": "aa",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/DA69B67E-D1A3-4F50-85B8-0FF6A3AB5345?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-08-26T22:46:26.646Z",
      "result": "mm",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/92F6DA6C-E8C0-416E-B9F8-2B44900B28B3?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-08-26T23:07:56.613Z",
      "result": "runjning",
      "errorType": "navigation_timeout"
    },
    {
      "url": "https://www.capcut.com/editor/0384776D-BD86-425E-AB1F-627CB4486978?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/CCC1D89E-2F4B-4077-A45F-AC6590A9477C?__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1",
      "status": "available",
      "lastRun": "2025-08-26T23:16:26.589Z",
      "result": "runaning",
      "errorType": "navigation_timeout"
    },
    {
      "url": "https://www.capcut.com/editor/54C4F75A-F94F-4BF9-AC9A-FAB04E928DF0?enter_from=create_project&from_page=work_space&start_tab=video&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/5710CFE7-0C96-4C92-9FA5-FED9DA08F607?enter_from=draft&from_page=work_space&start_tab=video&__action_from=recent&workspaceId=7340296269178388482&spaceId=7340295243306845185&draftIdc=1&__from_page=work_space",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/89D39FB9-3724-4E0E-8355-D3084DFEC70B?enter_from=create_project&from_page=work_space&start_tab=video&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/A882961A-EF5C-4329-833D-C93E6C0CB5F9?enter_from=create_project&from_page=work_space&start_tab=video&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/394DB851-21A7-4060-B712-3198F15E8494?enter_from=create_project&from_page=work_space&start_tab=video&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/47AB6A58-8441-4B5A-9384-CF47921C3412?enter_from=create_project&from_page=work_space&start_tab=video&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/C324C19A-B7F4-4FDC-8A56-8512E094E04D?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/8EB8917B-5586-4B61-91FA-BE4B2B23884C?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/0C15E8E1-254E-4E79-B451-02850E43CDD5?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/45214A2A-8F71-419D-80A7-6DD832E99633?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/42A1EEDF-28ED-4010-817E-907A129752AA?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/8EB77696-EDAD-4F85-8611-955C671CDCFB?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/3CD6A5A8-4477-43FA-80BF-BDE798472515?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/3CD6A5A8-4477-43FA-80BF-BDE798472515?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/72068E83-07A2-4602-9D94-EBE0D1762C92?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/C82DDAFC-2B7E-4144-9081-E6AE83EEFF27?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/619CBCFE-0F3E-467C-B414-AFD9D29CA1CD?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/A9D0DD0B-98EC-4CBA-AF29-5F7DD7F2FFD0?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/A6E1B86F-038D-4384-AFCE-73760244D27B?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/F6733CF0-E82A-4C54-BA4E-A5CE4D7958AD?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/0630D1CE-89FE-479B-A593-99530EFCC71A?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/A24718B5-E733-49FA-ABF1-16474ABDBEE1?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/4E48FB81-8456-40E9-A83C-336CD744F108?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/B5B081CE-89F7-4C16-8C8B-9B218EC39A97?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/870D3FED-9A04-4ECE-A69C-91315150718B?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/D85852F4-9BE3-4EAC-9016-7E43ED3440CE?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/9613B09E-E986-47CF-B0B9-74739F775F44?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/138D45C9-AE99-4D39-9ED0-1CCCCCD30D60?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/B0992E1A-A905-47AA-B404-5C89F68AA7E9?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/D0CA2A5D-BED5-4CFD-BF8D-7BF545AB27E1?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/E0215623-2823-48FE-9999-358517F3DF4A?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/C015E617-B02A-453F-9C83-176726CE4A35?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/ED0A477B-0611-4D59-82CC-0F5179120DD7?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    },
    {
      "url": "https://www.capcut.com/editor/ADB19839-8A5A-4172-9A5E-EC390009E260?from_page=work_space&start_tab=video&enter_from=create_project&tab=all&__action_from=Mustapha+erraja%E2%80%99s+space&workspaceId=7340296269178388482&spaceId=7340295243306845185&__from_page=work_space&draftIdc=1&scenario=custom",
      "status": "available",
      "lastRun": "2025-08-26T23:38:47.798Z",
      "result": "runkning",
      "errorType": "unknown"
    }
  ]
}