# Add YouTube URLs here, one per line
# Example:
# https://www.youtube.com/watch?v=VIDEO_ID
# https://www.youtube.com/shorts/SHORT_ID
# 
# The batch processor will automatically process all URLs in this queue
